# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# Providers de Google Cloud para Airflow
apache-airflow-providers-google 